# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Local env / secrets (in case you add a backend later)
.env
*.env.local

# DB dumps / backups
*.bak
*.dump

# passwords (don't upload)
.streamlit/secrets.toml